.footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background-color: $very-dark-blue;
    color: white;

    &__logo {
        filter: $white-svg;
    }

    &__phone {
        display: flex;
        gap: 1rem;

        &::before {
            content: url(../../images/icon-phone.svg);
        }
    }

    &__email {
        display: flex;
        gap: 1rem;

        &::before {
            content: url(../../images/icon-email.svg);
        }
    }

    &__navigation,
    &__legal-terms {
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        a {
            text-decoration: none;
            color: white;
        }
    }

    &__social {
        display: flex;
        gap: 1rem;
        text-align: center;
        align-self: center;

        a{
            img{
                filter: $white-svg;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        display: grid;
        gap: 1rem;
        grid-template-areas: 
        "logo logo logo logo"
        "phone about contact social"
        "email about contact blank2"
        "blank1 about contact blank2";
        padding: 6rem;

        &__logo {
            grid-area: logo;
        }

        &__phone {
            grid-area: phone;
        }

        &__email {
            grid-area: email;
        }

        &__navigation {
            grid-area: about;
        }

        &__legal-terms {
            grid-area: contact;
        }

        &__soccial {
            grid-area: social;
        }

        .blank1 {
            grid-area: blank1;
        }

        .blank2 {
            grid-area: blank2;
        }
    }
}