.footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    background-color: $very-dark-blue;
    color: white;

    &__logo {
        filter: $white-svg;
    }

    &__phone {
        display: flex;
        gap: 1rem;

        &::before {
            content: url(../../images/icon-phone.svg);
        }
    }

    &__email {
        display: flex;
        gap: 1rem;

        &::before {
            content: url(../../images/icon-email.svg);
        }
    }

    &__navigation,
    &__legal-terms {
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        a {
            text-decoration: none;
            color: white;
        }
    }

    &__social {
        display: flex;
        gap: 1rem;
        text-align: center;
        align-self: center;

        a{
            img{
                filter: $white-svg;
            }
        }
    }
}