.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    

    &__logo {
        height: 1.5rem;
    }

    &__nav {
        font-size: $font12px;
        display: flex;
        gap: 1rem;

        a {
            text-decoration: none;
            color: $very-dark-blue;
        }
    }
}

@media screen and (min-width: 1200px) {
    .header {
        padding: 5rem;

        &__logo {
            height: 3rem;
        }

        &__nav {
            font-size: $font20px;
            gap: 4rem;
        }
    }
}