.promote {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    text-align: center;

    &__heading {
        font-weight: 900;
        line-height: 1.5em;
    }

    &__text {
        font-size: $font14px;
        line-height: 1.2rem;
        color: $desaturated-blue;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    &__see-more {
        color: $moderate-cyan;
        text-decoration: none;
        font-size: $font12px;
        padding-bottom: 0.5em;
        border-bottom: 1px solid $moderate-cyan;
        width: fit-content;
        align-self: center;
        display: flex;
        gap: 0.7em;
        align-items: center;

        &::after {
            content: url(../../images/icon-arrow.svg);
            width: 1em;
            color: $moderate-cyan;
            align-self: center;
        }
    }


    .testimony {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 1.5rem;
        line-height: 1.5em;
        border-radius: 0.25rem;
        box-shadow: 0 0 10px opacify($color: #888, $amount: 0.10%);

        &::before {
            content: url(../../images/icon-quotes.svg);
        }

        &__text {
            font-weight: 400;
            line-height: 1.2rem;
            text-align: left;
            font-size: $font12px;
        }

        &__profile {
            display: grid;
            height: 3rem;
            grid-template-areas: 
            'avatar name'
            'avatar cargo';
            place-content: center;
            column-gap: 0.5rem;
            text-align: left;
            line-height: 1em;

            &__avatar {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                grid-area: avatar;
            }

            &__name {
                grid-area: name;
                font-weight: 700;
                font-size: $font12px;
            }

            &__cargo {
                grid-area: cargo;
                font-size: $font10px;
                justify-self: start;
            }
        }
    }
}