@import './variables';

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $principal;
    color: $very-dark-blue;
    // padding: 1rem;
    background-image: url(../../images/bg-curve-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        

    main {
        display: flex;
        flex-direction: column;
        gap: $section-spacing;
        margin-top: $section-spacing;
        margin-bottom: $section-spacing;
    }
}

.footer__social {
    display: flex;
    
    a {
        img {
            max-height: 2rem;
        }
    }
}